.member {
    // height: var(--height);
    background-color: var(--second-color);

    .member-item {
        display: flex;
        justify-content: center;

        .member-container {
            display: grid;
            grid-template-columns: minmax(auto, 1200px);
            width: 100%;
            max-width: 1200px;
            grid-template-rows: 50px auto auto;
            grid-template-areas:
                "title"
                "content";

            .member-title {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-area: title;
                font-size: 1.25rem;
            }
            .member-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                grid-area: content;
                margin: 0 10px;

                .member-content-change-components {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    .member-content-change-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        flex: 1 1 auto;
                        border-bottom: 1px solid #c2c2c2;
                        div {
                            font-size: 1.3rem;
                            margin: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .member {
        .member-item {
            .member-container {
                .member-content {
                    .member-content-change-components {
                        .member-content-change-item {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
