.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: menu;
    .menu-item {
        margin: 10px 0;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 300;
    }

    .menu-item2 {
        margin: 10px 0;
        color: rgba(0, 0, 0, 1);
        font-weight: 300;
    }
}
