.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
    padding: 10px;
    .setting-img {
        flex-grow: 3;
        flex-basis: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .setting-img-content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            position: relative;
            input {
                display: none;
            }
            .userPhoto {
                width: 15vh;
                height: 15vh;
                border-radius: 50%;
                object-fit: cover;
            }
            .setting-img-button {
                top: -50px;
                right: 10px;
                position: relative;
                border-style: none;
                background-color: #fff4eb;
                cursor: pointer;
                .setting-img-button-content {
                    width: 80%;
                    height: 100%;
                    color: white;
                    background-color: #fff4eb;
                }
            }
            .setting-find {
                margin: 5px;
                padding: 0.3rem 0.7rem;
                border-radius: 1rem;
                background-color: black;
                color: white;
                cursor: pointer;
                border-style: none;
            }
        }
    }
    .setting-other {
        flex-grow: 2;
        flex-basis: 0;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .setting-other-email,
        .setting-other-name,
        .setting-other-password {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;

            .setting-other-name-title,
            .setting-other-password-title {
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .setting-other-name-input,
            .setting-other-password-input {
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .setting-other-name-button,
            .setting-other-password-button {
                padding: 0.3rem 0.7rem;
                border-radius: 1rem;
                background-color: black;
                color: white;
                cursor: pointer;
                border-style: none;
                width: 70px;
            }

            .setting-other-name-change-button,
            .setting-other-email-change-button,
            .setting-other-password-change-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                button {
                    margin: 0 2px;
                    padding: 0.3rem 0.7rem;
                    border-radius: 1rem;
                    background-color: black;
                    color: white;
                    cursor: pointer;
                    border-style: none;
                }
            }

            .setting-other-password-change-input,
            .setting-other-name-change-input {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 30px;
                width: 200px;
                .setting-other-name-change-input-item,
                .setting-other-password-change-input-item,
                .setting-other-password-change-input-item-1 {
                    width: 100%;
                    height: 30px;
                    background: #f7e5d6;
                    box-shadow: 1px -1px 5px #bebebe, -1px 1px 5px #cfcfcf;
                    justify-content: center;
                    display: flex;
                    margin: 3px;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .setting {
        flex-wrap: wrap;
        padding: 10px;
        .setting-img {
            flex-grow: 4;
            flex-basis: 0;
            .setting-img-content {
                width: 200px;
                .userPhoto {
                    width: 10vh;
                    height: 10vh;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        .setting-other {
            flex-grow: 4;
            flex-basis: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .setting-other-email,
            .setting-other-name,
            .setting-other-password {
                .setting-other-name-input,
                .setting-other-password-input {
                    width: 120px;
                }
                .setting-other-password-change-input,
                .setting-other-name-change-input {
                    // width: 50%;
                    .setting-other-name-change-input-item,
                    .setting-other-password-change-input-item,
                    .setting-other-password-change-input-item-1 {
                        width: 80%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
// @media screen and (max-width: 500px) {
//     .setting {
//         flex-direction: column;
//         .setting-img {
//             .setting-img-content {
//                 width: 100%;
//                 .userPhoto {
//                     width: 15vh;
//                     height: 15vh;
//                 }
//             }
//         }
//         .setting-other {
//             .setting-other-email,
//             .setting-other-name,
//             .setting-other-password {
//                 .setting-other-password-change-input,
//                 .setting-other-name-change-input {
//                     width: 150px;
//                     .input {
//                         margin: 0;
//                         width: 150px;
//                         cursor: pointer;
//                     }
//                 }
//             }
//         }
//     }
// }
