.track {
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    width: 100%;
    .track-container {
        display: grid;
        grid-template-columns: 1fr;
        max-height: 54vh;
        width: 50%;

        max-width: 1200px;
        grid-template-rows: auto auto;

        overflow: auto;
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, and Opera */
        }
        .borderTop {
            border-bottom: 1px solid #c2c2c2;
        }
        .track-content-item {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 250px;
            width: 100%;

            .track-content-item-1 {
                display: flex;
                align-items: center;
                width: 100%;
                margin: 10px;
                div {
                    display: flex;
                    margin: 0 25px;
                    justify-content: center;
                    align-items: center;
                    .track-content-item-1-userPhoto {
                        width: 6vh;
                        height: 6vh;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            .track-content-item-2 {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(6, 1fr);
                width: 100%;
                grid-template-rows: auto auto;
                grid-gap: 15px;
                cursor: pointer;
                grid-template-areas:
                    " item-2-title item-2-title item-2-title item-2-title item-2-title item-2-img"
                    " item-2-article item-2-article item-2-article item-2-article item-2-article item-2-img ";
                .track-content-item-2-title {
                    grid-area: item-2-title;
                }
                .track-content-item-2-article {
                    grid-area: item-2-article;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    font-size: 16px;
                    font-weight: 300;
                }
                .track-content-item-2-img {
                    grid-area: item-2-img;
                    width: 100px;
                    height: 100px;
                    object-fit: fill;
                }
            }
            .track-content-item-3 {
                display: flex;
                width: 100%;
                align-items: center;
                margin-top: 20px;
                .track-content-item-3-like {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 25px;
                }
                div {
                    margin: 0 25px;
                }
            }
        }
    }
}
