.homepage {
    height: var(--height);
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    .homepage-container {
        width: 1200px;
        .homepage-container-item {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: row;
            grid-template-rows:
                minmax(1.5fr, 200px) minmax(1.5fr, 150px) minmax(1.5fr, 150px)
                200px;
            height: var(--height);

            padding: 0 10px;
            grid-template-areas:
                "Featured Featured Featured "
                "HomePageContent HomePageContent Topics"
                "HomePageContent HomePageContent Authors"
                "HomePageContent HomePageContent .";
            .homepage-grid-item-1 {
                grid-area: Featured;
            }
            .homepage-grid-item-2 {
                grid-area: HomePageContent;
                overflow: auto;
                scrollbar-width: none;
                scrollbar-color: transparent transparent;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none; /* IE and Edge */
                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, and Opera */
                }
            }

            .homepage-grid-item-3 {
                grid-area: Topics;
            }
            .homepage-grid-item-4 {
                grid-area: Authors;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .homepage {
        .homepage-container {
            .homepage-container-item {
                grid-template-rows:
                    minmax(1.5fr, 150px) minmax(1.5fr, 200px) minmax(
                        1.5fr,
                        150px
                    )
                    200px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .homepage {
        .homepage-container {
            .homepage-container-item {
                grid-template-rows:
                    minmax(1.5fr, 200px) minmax(1.5fr, 150px)
                    auto;
                grid-template-areas:
                    "HomePageContent HomePageContent Topics"
                    "HomePageContent HomePageContent Authors"
                    "HomePageContent HomePageContent .";
                .homepage-grid-item-1 {
                    display: none;
                }
            }
        }
    }
}
