.homepage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #c2c2c2;
    .borderTop {
        border-top: 1px solid #c2c2c2;
    }
    .homepage-content-item {
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 25px 0;
        height: 250px;
        width: 70%;

        .homepage-content-item-1 {
            display: flex;

            align-items: center;
            width: 100%;
            margin: 10px;
            div {
                display: flex;
                margin: 0 25px;
                justify-content: center;
                align-items: center;
                .homepage-content-item-1-userPhoto {
                    width: 3vw;
                    height: 3vw;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        .homepage-content-item-2 {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto auto;
            grid-gap: 15px;
            cursor: pointer;
            grid-template-areas:
                " item-2-title item-2-title item-2-title item-2-title item-2-title item-2-img"
                " item-2-article item-2-article item-2-article item-2-article item-2-article item-2-img ";
            .homepage-content-item-2-title {
                grid-area: item-2-title;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 2 px;
            }
            .homepage-content-item-2-article {
                grid-area: item-2-article;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                overflow: hidden;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.2em;
                max-height: 2.4em; // 2 行文本，line-height * 2
                text-overflow: ellipsis;

                // grid-area: item-2-article;
                // display: -webkit-box;
                // -webkit-box-orient: vertical;
                // -webkit-line-clamp: 2;
                // overflow: hidden;
                // font-size: 16px;
                // font-weight: 300;
            }
            .homepage-content-item-2-img {
                grid-area: item-2-img;
                width: 100px;
                height: auto;
                object-fit: cover;

                // width: 10vw;
                // height: 10vw;
                // object-fit: cover;
            }
        }
        .homepage-content-item-3 {
            display: flex;
            width: 100%;
            align-items: center;
            margin-top: 20px;
            .homepage-content-item-3-like {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 5px;
                img {
                    cursor: pointer;
                }
            }
            .homepage-content-item-3-message {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 2rem;
                    cursor: pointer;
                }
                // margin: 0 25px;
            }
            div {
                margin: 0 25px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .homepage-content {
        .homepage-content-item {
            .homepage-content-item-1 {
                div {
                    .homepage-content-item-1-userPhoto {
                        width: 5vw;
                        height: 5vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .homepage-content {
        .homepage-content-item {
            height: 200px;
            .homepage-content-item-1 {
                div {
                    .homepage-content-item-1-userPhoto {
                        width: 5vw;
                        height: 5vw;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .homepage-content {
        .homepage-content-item {
            height: 200px;
            margin: 10px 0;
            .homepage-content-item-1 {
                div {
                    font-size: 1rem;
                    margin: 0 5px;
                    // .homepage-content-item-1-userPhoto {
                    //     width: 5vw;
                    //     height: 5vw;
                    // }
                }
            }
            .homepage-content-item-2 {
                .homepage-content-item-2-title {
                    font-size: 1rem;
                }
                .homepage-content-item-2-article {
                    font-size: 0.75rem;
                }
                .homepage-content-item-2-img {
                    width: 50px;
                    height: auto;
                }
            }
            .homepage-content-item-3 {
                .homepage-content-item-3-like {
                    margin: 0;
                }
                div {
                    margin: 0 11px;
                    img {
                        // width: 5vh;
                        // height: 5vh;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .homepage-content {
        .homepage-content-item {
            .homepage-content-item-1 {
                div {
                    .homepage-content-item-1-userPhoto {
                        width: 6vw;
                        height: 6vw;
                    }
                }
            }
            .homepage-content-item-3 {
                div {
                    margin: 0 8px;
                }
                .homepage-content-item-3-like {
                    img {
                        width: 1rem;
                    }
                }
                .homepage-content-item-3-message {
                    img {
                        width: 0.9rem;
                    }
                }
            }
        }
    }
}
