.write {
    background-color: var(--second-color);
    min-height: var(--height);

    .markDownContainer {
        margin: 0 10px;
        display: grid;

        grid-template-rows: minmax(var(--height), auto);
        grid-template-columns: repeat(4, 1fr);

        justify-content: center;

        grid-gap: 20px;
        .textarea {
            margin: 10px 10px 0 10px;
            padding: 5px 20px;
            border: none;
            height: auto;
            resize: none;
            grid-column: span 2;
        }
        .output {
            background-color: #fae6db;
            margin: 10px 10px 0 10px;
            padding: 5px 20px;
            outline: none;
            grid-column: span 2;
        }
        .markDownButton {
            margin: 15px 0;
            padding: 5px;
            border-style: none;
            cursor: pointer;
            border-radius: 25px;
            background-color: var(--third-color);
            color: #fff;
            font-size: 1.75rem;
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }
}
