* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-family: "Noto Sans TC", sans-serif;
}

:root {
  --first-color: #f2e4d9;
  --second-color: #fff4eb;
  --third-color: #222222;
  --height: 100vh;
}

#root {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.navContainer {
  background-color: var(--first-color);
  justify-content: center;
  align-items: center;
  display: flex;
}
.navContainer div {
  width: 1200px;
  margin: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navContainer div a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContainer div a img {
  width: 50px;
  height: 50px;
}
.navContainer div nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.navContainer div nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.navContainer div nav ul li {
  margin-left: 50px;
  text-decoration: none;
}
.navContainer div nav ul li a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.navContainer div nav ul li a:hover {
  color: rgb(0, 0, 0);
}

.homepage {
  min-height: var(--height);
  background-color: var(--second-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 10px;
  padding: 0 35px;
  grid-template-areas: "Featured Featured Featured " "HomePageContent HomePageContent Topics" "HomePageContent HomePageContent Authors";
}
.homepage .homepage-grid-item-1 {
  grid-area: Featured;
}
.homepage .homepage-grid-item-2 {
  grid-area: HomePageContent;
}
.homepage .homepage-grid-item-3 {
  grid-area: Topics;
}
.homepage .homepage-grid-item-3 .topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage .homepage-grid-item-3 .topics .topicsTitle {
  margin: 10px;
  font-size: 1.25rem;
}
.homepage .homepage-grid-item-3 .topics .topicsContainer {
  display: flex;
}
.homepage .homepage-grid-item-3 .topics .topicsContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.homepage .homepage-grid-item-3 .topics .topicsContainer ul a {
  width: 50px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .homepage-grid-item-3 .topics .topicsContainer ul a:hover {
  color: rgb(0, 0, 0);
}
.homepage .homepage-grid-item-4 {
  grid-area: Authors;
}

.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage-content .homepage-content-item {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
  height: 250px;
  width: 70%;
  border-bottom: 1px solid #c2c2c2;
}
.homepage-content .homepage-content-item .homepage-content-item-1 {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.homepage-content .homepage-content-item .homepage-content-item-1 div {
  display: flex;
  margin: 0 25px;
  justify-content: center;
  align-items: center;
}
.homepage-content .homepage-content-item .homepage-content-item-2 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 15px;
  cursor: pointer;
  grid-template-areas: " item-2-title item-2-title item-2-title item-2-title item-2-title item-2-img" " item-2-article item-2-article item-2-article item-2-article item-2-article item-2-img ";
}
.homepage-content .homepage-content-item .homepage-content-item-2 .homepage-content-item-2-title {
  grid-area: item-2-title;
}
.homepage-content .homepage-content-item .homepage-content-item-2 .homepage-content-item-2-article {
  grid-area: item-2-article;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
  font-weight: 300;
}
.homepage-content .homepage-content-item .homepage-content-item-2 .homepage-content-item-2-img {
  grid-area: item-2-img;
  width: 100px;
  height: 100px;
  -o-object-fit: fill;
     object-fit: fill;
}
.homepage-content .homepage-content-item .homepage-content-item-3 {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
.homepage-content .homepage-content-item .homepage-content-item-3 div {
  margin: 0 25px;
}

.message {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message .message-div {
  top: 200px;
  width: 240px;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 5px;
}
.message .message-div .decorator-bar {
  width: 240px;
  height: 10px;
  background: linear-gradient(90deg, var(--first-color), var(--second-color));
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.message .message-div .message-content {
  flex: 1;
  font-size: 1.2rem;
  color: var(--third-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInMain {
  min-height: var(--height);
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.signInMain .signInContainer {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
.signInMain .signInContainer .register {
  position: relative;
  width: 100%;
  height: 100%;
}
.signInMain label {
  color: #573b8a;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.signInMain input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.signInMain button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.signInMain button:hover {
  background: #6d44b8;
}
.signInMain .login {
  height: 460px;
  background: #eee;
  border-radius: 60%/10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.signInMain .login label {
  color: #573b8a;
  transform: scale(0.6);
}
.signInMain .signInMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: 600;
}

#chk {
  display: none;
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .register label {
  transform: scale(0.6);
}

.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: var(--height);
  background-color: var(--second-color);
}
.article .article-author {
  width: 50%;
  display: flex;
  align-items: center;
}
.article .article-author div {
  margin: 20px 20px;
}
.article .article-title {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 10px;
}
.article .article-markdown {
  width: 50%;
  margin: 1rem;
}
.article .article-feel {
  display: flex;
  align-items: center;
  width: 80%;
}
.article .article-feel div {
  margin: 25px;
}
.article .article-feel img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  min-height: 10vh;
}

.write {
  background-color: var(--second-color);
  min-height: var(--height);
}
.write .markDownContainer {
  margin: 0 50px;
  display: grid;
  grid-template-rows: auto auto minmax(var(--height), auto) 10% auto;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 10px;
  grid-template-areas: " markDownTitle markDownTitelInput markDownTitelInput ." " markDownClass markDownClassInput markDownClassInput ." "textarea textarea output output" "markDownFileInput markDownFileButton markDownFile markDownFile" ". markDownButton markDownButton .";
}
.write .markDownContainer .markDownTitle {
  margin: 15px 0;
  font-size: 1.25rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.05rem;
  grid-area: markDownTitle;
}
.write .markDownContainer .markDownTitelInput {
  margin: 15px 0;
  height: 50px;
  padding: 5px;
  font-size: 1.25rem;
  border-style: none;
  grid-area: markDownTitelInput;
  cursor: pointer;
}
.write .markDownContainer .markDownClass {
  margin: 15px 0;
  font-size: 1.25rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.05rem;
  grid-area: markDownClass;
}
.write .markDownContainer .markDownClassInput {
  margin: 15px 0;
  height: 50px;
  padding: 5px;
  font-size: 1.15rem;
  cursor: pointer;
  border-style: none;
  outline: none;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  grid-area: markDownClassInput;
}
.write .markDownContainer .markDownClassInput option {
  font-size: 1.15rem;
  font-weight: 900;
  cursor: pointer;
}
.write .markDownContainer .markDownFileInput {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1.05rem;
  border-style: none;
  grid-area: markDownFileInput;
}
.write .markDownContainer .markDownFile {
  margin: 10px 10px 0 10px;
  width: 500px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.05rem;
  grid-area: markDownFile;
}
.write .markDownContainer .markDownFileButton {
  grid-area: markDownFileButton;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write .markDownContainer .markDownFileButton button {
  width: 120px;
  padding: 5px;
  border-style: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--third-color);
  color: #fff;
  font-size: 1.05rem;
}
.write .markDownContainer .textarea {
  margin: 10px 10px 0 10px;
  padding: 5px 20px;
  border: none;
  height: auto;
  resize: none;
  grid-area: textarea;
}
.write .markDownContainer .output {
  background-color: #fae6db;
  margin: 10px 10px 0 10px;
  padding: 5px 20px;
  outline: none;
  grid-area: output;
}
.write .markDownContainer .markDownButton {
  margin: 15px 0;
  padding: 5px;
  border-style: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--third-color);
  color: #fff;
  font-size: 1.15rem;
  grid-area: markDownButton;
}/*# sourceMappingURL=style.css.map */