.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: var(--height);
    background-color: var(--second-color);

    .article-content {
        width: 50%;
        overflow: auto;
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, and Opera */
        }
        .article-author {
            display: flex;
            align-items: center;
            div {
                margin: 20px 20px;
                .article-author-photo {
                    width: 10vh;
                    height: 10vh;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        .article-title {
            font-size: 0.95rem;
            font-weight: 600;
            margin: 1rem;
            h1 {
                letter-spacing: -0.016em;
                line-height: 40px;
                margin-top: 0.6em;
                font-size: 32px;
                margin-bottom: -0.27em;
                font-weight: 700;
                color: rgba(41, 41, 41, 1);
                margin: 0;
                margin-block-start: 1em;
                margin-block-end: 1em;
            }
        }
        .article-markdown {
            margin: 1rem;
            h1 {
                margin: 1.5rem 0;
                letter-spacing: -0.016em;
                line-height: 40px;
                color: rgb(41, 41, 41);
            }
            h2 {
                margin: 1.2rem 0;

                line-height: 24px;
                letter-spacing: 0px;
                // margin: 0;
                color: rgba(41, 41, 41, 1);
            }
            h3 {
                margin: 1rem 0;
                color: rgba(41, 41, 41, 1);
            }
            ol,
            ul {
                padding: 0 0 0 15px;
                li {
                    margin: 0.8rem 0;
                }
            }
            p {
                letter-spacing: -0.003em;
                line-height: 32px;
                color: rgba(41, 41, 41, 1);
                font-weight: 400;
            }
        }
        .article-feel {
            display: flex;
            align-items: center;
            margin: 25px 15px;
            .article-feel-like {
                display: flex;
                align-items: center;
                // margin: 0 25px;
                div {
                    margin: 0 10px;
                }
            }
            .article-feel-messages {
                display: flex;
                align-items: center;
                margin: 0 25px;
                div {
                    margin: 0 10px;
                }
            }
            .article-feel-tags {
                display: flex;
                align-items: center;
                margin: 0 25px;
                div {
                    margin: 0 10px;
                }
            }
            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .article {
        .article-content {
            width: 65%;
        }
    }
}
@media screen and (max-width: 600px) {
    .article {
        .article-content {
            width: 75%;
        }
    }
}
@media screen and (max-width: 500px) {
    .article {
        .article-content {
            width: 95%;
        }
    }
}
@media screen and (max-width: 400px) {
    .article {
        .article-content {
            .article-author {
                div {
                    margin: 20px 15px;
                }
            }
        }
    }
}
