.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: var(--height);
    background-color: var(--second-color);

    .article-content {
        width: 50%;
        overflow: auto;
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, and Opera */
        }
        .article-author {
            display: flex;
            align-items: center;
            div {
                margin: 20px 20px;
                .article-author-photo {
                    width: 10vh;
                    height: 10vh;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        .article-title {
            font-size: 0.95rem;
            font-weight: 600;
            margin: 10px;
        }
        .article-markdown {
            font-size: small;
            margin: 1rem;
        }
        .article-feel {
            display: flex;
            align-items: center;
            margin: 25px 15px;
            .article-feel-like {
                display: flex;
                align-items: center;
                // margin: 0 25px;
                div {
                    margin: 0 10px;
                }
            }
            .article-feel-messages {
                display: flex;
                align-items: center;
                margin: 0 25px;
                div {
                    margin: 0 10px;
                }
            }
            .article-feel-tags {
                display: flex;
                align-items: center;
                margin: 0 25px;
                div {
                    margin: 0 10px;
                }
            }
            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
    }
}
