.UpdateMarkdown {
    background-color: var(--second-color);
    min-height: var(--height);
    .markDownContainer {
        margin: 0 50px;
        display: grid;
        grid-template-rows:
            auto auto minmax(var(--height), auto) minmax(200px, auto)
            auto;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        grid-gap: 10px;
        grid-template-areas:
            " markDownTitle markDownTitelInput markDownTitelInput ."
            " markDownClass markDownClassInput markDownClassInput ."
            "textarea textarea output output"
            ". markDownFileButton markDownFile ."
            ". markDownButton markDownButton .";

        .markDownTitle {
            margin: 15px 0;
            font-size: 1.25rem;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 600;
            letter-spacing: 1.05rem;
            grid-area: markDownTitle;
        }

        .markDownTitelInput {
            margin: 15px 0;
            height: 50px;
            padding: 5px;
            font-size: 1.25rem;
            border-style: none;
            grid-area: markDownTitelInput;
            cursor: pointer;
        }

        // 文章分類

        .markDownClassLabel {
            margin: 15px 0;
            font-size: 1.25rem;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 600;
            letter-spacing: 1.05rem;
            grid-area: markDownClass;
        }
        .markDownClassInput {
            grid-area: markDownClassInput;
            display: flex;
            justify-content: center;
            .form-check {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                margin: 10px;
                .form-check-input {
                    margin: 10px 10px;
                }
                .form-check-label {
                    margin: 10px;
                    font-size: 1.3rem;
                    cursor: pointer;
                    // font-size: 1.15rem;
                }
            }
        }

        // 圖片
        .markDownFileInput {
            display: none;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            font-size: 1.05rem;
            border-style: none;
            grid-area: markDownFileInput;
        }

        .markDownFile {
            margin: 10px 10px 0 10px;
            width: 25vh;
            height: 25vh;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1.05rem;
            grid-area: markDownFile;
        }
        .markDownFileButton {
            grid-area: markDownFileButton;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                width: 15vw;
                height: 6.5vh;
                border-style: none;
                cursor: pointer;
                border-radius: 25px;
                background-color: var(--third-color);
                color: #fff;
                font-size: 1.15rem;
            }
        }

        .textarea {
            margin: 10px 10px 0 10px;
            padding: 5px 20px;
            border: none;
            height: auto;
            resize: none;
            grid-area: textarea;
        }
        .output {
            background-color: #fae6db;
            margin: 10px 10px 0 10px;
            padding: 5px 20px;
            outline: none;
            grid-area: output;
        }
        // 送出文章
        .markDownButton {
            margin: 15px 0;
            padding: 5px;
            width: 50vw;
            height: 6.5vh;
            border-style: none;
            cursor: pointer;
            border-radius: 25px;
            background-color: var(--third-color);
            color: #fff;
            font-size: 1.15rem;
            grid-area: markDownButton;
        }
    }
}

@media screen and (max-width: 700px) {
    .write {
        .markDownContainer {
            grid-template-rows:
                auto auto minmax(250px, auto) minmax(250px, auto)
                10% auto;
            grid-template-areas:
                " markDownTitle markDownTitle markDownTitelInput markDownTitelInput"
                " markDownClass markDownClass markDownClassInput markDownClassInput"
                "textarea textarea textarea textarea"
                "output output output output"
                "markDownFileButton markDownFileButton markDownFile markDownFile"
                ". markDownButton markDownButton .";
        }
    }
}

@media screen and (max-width: 600px) {
    .write {
        padding: 10px;
        .markDownContainer {
            margin: 0 50px;
            display: grid;
            grid-template-rows:
                auto auto minmax(250px, auto) minmax(250px, auto)
                10% auto;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            grid-gap: 0px;
            grid-template-areas:
                " markDownTitle markDownTitelInput markDownTitelInput markDownTitelInput"
                " markDownClass markDownClassInput markDownClassInput markDownClassInput"
                "textarea textarea textarea textarea"
                "output output output output"
                "markDownFileButton markDownFileButton markDownFile markDownFile"
                ". markDownButton markDownButton .";
            .markDownFile {
                width: 18vh;
                height: 18vh;
            }
            .markDownButton {
                height: 5vh;
                width: 100%;
                font-size: 1rem;
            }

            .markDownFileButton {
                button {
                    width: 20vw;
                    height: 5vh;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .write {
        .markDownContainer {
            grid-template-rows:
                auto auto minmax(250px, auto) minmax(250px, auto)
                10% auto;
            grid-template-columns: repeat(4, 80px);
            justify-content: center;

            .markDownFile {
                width: 15vh;
                height: 15vh;
            }

            .markDownButton {
                margin: 10px 0;
                padding: 5px;
                font-size: 1rem;
            }
            .markDownTitelInput {
                margin: 15px 0;
                height: 50px;
                padding: 5px;
                font-size: 1.25rem;
                border-style: none;
                grid-area: markDownTitelInput;
                cursor: pointer;
            }
        }
    }
}
