.UpdateMarkdown {
    background-color: var(--second-color);
    min-height: var(--height);
    justify-content: center;
    display: flex;
    .write-main {
        display: flex;
        max-width: 1200px;
        .write-content {
            display: flex;
            max-width: 1200px;
            flex-direction: column;

            .write-content-title-item {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 1200px;
                .write-content-title {
                    margin: 15px;
                    font-size: 1.25rem;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-weight: 500;
                    letter-spacing: 1.05rem;
                }
                .write-content-title-input {
                    margin: 15px;
                    height: 50px;
                    padding: 5px;
                    font-size: 1.25rem;
                    border-style: none;
                    cursor: pointer;
                    width: 45vw;
                }
            }

            // 文章分類
            .write-content-class-item {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 1200px;
                .write-content-label {
                    margin: 15px;
                    font-size: 1.25rem;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-weight: 500;
                    letter-spacing: 1.05rem;
                }

                .write-content-class-input {
                    display: flex;

                    margin: 15px;
                    width: 45vw;
                    .form-check {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        margin: 10px 10px 10px 0;

                        .form-check-label {
                            padding: 6px;
                            border-radius: 50px;
                            display: inline-flex;
                            cursor: pointer;
                            transition: background 0.2s ease;
                            margin: 10px 10px 10px 0;
                            // margin: 10px;
                            -webkit-tap-highlight-color: transparent;
                            .form-check-input {
                                vertical-align: middle;
                                width: 20px;
                                height: 20px;
                                border-radius: 10px;
                                background: none;
                                border: 0;

                                box-shadow: inset 0 0 0 1px rgb(184, 184, 184);
                                box-shadow: inset 0 0 0 1.5px rgb(184, 184, 184);
                                appearance: none;
                                padding: 0;
                                margin: 0;
                                transition: box-shadow 150ms
                                    cubic-bezier(0.95, 0.15, 0.5, 1.25);
                                pointer-events: none;
                            }
                            .form-check-input:focus {
                                outline: none;
                            }

                            .form-check-input:checked {
                                box-shadow: inset 0 0 0 6px var(--third-color);
                            }
                            .form-check-span {
                                vertical-align: middle;
                                display: inline-block;
                                line-height: 20px;
                                padding: 0 8px;
                            }
                        }
                        .form-check-label:hover,
                        .form-check-label:focus-within {
                            background: rgba(var(--second-color), 0.1);
                        }
                    }
                }
            }
            // 編輯內容
            .edit-text-item {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15px 10px;
                .edit-text {
                    padding: 20px 25px;
                    min-height: 70vh;
                    width: 800px;
                    border-radius: 2rem;
                    margin: 25px 0;
                    // box-shadow: 5px 20px 50px 5px rgba(67, 63, 62, 0.5);
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                    outline: none;
                }
            }

            // 上傳圖片
            .write-content-file-item {
                display: flex;
                justify-content: space-around;
                align-items: center;
                // width: 1000px;
                // width: 80%;
                width: 100%;
                margin: 15px;
                .write-content-file-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 15px;
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 4vh;
                        width: 8rem;
                        margin: 10px 0;
                        border-style: none;
                        cursor: pointer;
                        border-radius: 25px;
                        background-color: var(--third-color);
                        color: #fff;
                        font-size: 1.15rem;
                    }
                }
                .write-content-file {
                    margin: 10px;
                    width: 25vh;
                    height: 25vh;
                    object-fit: contain;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 1.05rem;
                }
            }
            // 送出文章
            .write-content-button-item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                max-width: 1200px;
                // width: 1000px;
                .write-content-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 15px 0;
                    padding: 5px;
                    width: 21vw;
                    height: 4.5vh;
                    border-style: none;
                    cursor: pointer;
                    border-radius: 25px;
                    background-color: var(--third-color);
                    color: #fff;
                    font-size: 1.15rem;
                }
            }
        }
    }
}
// 圖片
.write-content-file-input {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.05rem;
    border-style: none;
}
@media screen and (max-width: 700px) {
    .UpdateMarkdown {
        .write-main {
            .write-content {
                .write-content-file-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .write-content-file-button {
                        // width: 40%;
                    }
                    .write-content-file {
                        // width: 40%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 550px) {
    .UpdateMarkdown {
        .write-main {
            .write-content {
                .write-content-file-item {
                    .write-content-file-button {
                        // width: 40%;
                    }
                    .write-content-file {
                        width: 15vh;
                        height: 15vh;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .UpdateMarkdown {
        .write-main {
            .write-content {
                .write-content-file-item {
                    .write-content-file-button {
                        // width: 40%;
                    }
                    .write-content-file {
                        width: 12vh;
                        height: 12vh;
                    }
                }
                .write-content-button-item {
                    .write-content-button {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
