.write {
    background-color: var(--second-color);
    min-height: var(--height);
    .markDownContainer {
        margin: 0 50px;
        display: grid;
        grid-template-rows: auto auto minmax(var(--height), auto) 10% auto;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        grid-gap: 10px;
        grid-template-areas:
            " markDownTitle markDownTitelInput markDownTitelInput ."
            " markDownClass markDownClassInput markDownClassInput ."
            "textarea textarea output output"
            "markDownFileInput markDownFileButton markDownFile markDownFile"
            ". markDownButton markDownButton .";

        .markDownTitle {
            margin: 15px 0;
            font-size: 1.25rem;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 600;
            letter-spacing: 1.05rem;
            grid-area: markDownTitle;
        }

        .markDownTitelInput {
            margin: 15px 0;
            height: 50px;
            padding: 5px;
            font-size: 1.25rem;
            border-style: none;
            grid-area: markDownTitelInput;
            cursor: pointer;
        }

        .markDownClass {
            margin: 15px 0;
            font-size: 1.25rem;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 600;
            letter-spacing: 1.05rem;
            grid-area: markDownClass;
        }

        // 文章分類
        .markDownClassInput {
            margin: 15px 0;
            height: 50px;
            padding: 5px;
            font-size: 1.15rem;
            cursor: pointer;
            border-style: none;
            outline: none;
            text-align: center;
            appearance: none;
            background-color: white;
            grid-area: markDownClassInput;
            option {
                font-size: 1.15rem;
                font-weight: 900;
                cursor: pointer;
            }
        }

        .markDownFileInput {
            display: none;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            font-size: 1.05rem;
            border-style: none;
            grid-area: markDownFileInput;
        }

        // 圖片
        .markDownFile {
            margin: 10px 10px 0 10px;
            width: 500px;
            height: 300px;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1.05rem;
            grid-area: markDownFile;
        }
        .markDownFileButton {
            grid-area: markDownFileButton;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                width: 120px;
                padding: 5px;
                border-style: none;
                cursor: pointer;
                border-radius: 25px;
                background-color: var(--third-color);
                color: #fff;
                font-size: 1.05rem;
            }
        }

        .textarea {
            margin: 10px 10px 0 10px;
            padding: 5px 20px;
            border: none;
            height: auto;
            resize: none;
            grid-area: textarea;
        }
        .output {
            background-color: #fae6db;
            margin: 10px 10px 0 10px;
            padding: 5px 20px;
            outline: none;
            grid-area: output;
        }
        // 送出文章
        .markDownButton {
            margin: 15px 0;
            padding: 5px;
            // width: 150px;
            border-style: none;
            cursor: pointer;
            border-radius: 25px;
            background-color: var(--third-color);
            color: #fff;
            font-size: 1.15rem;
            grid-area: markDownButton;
        }
    }
}
